<div mat-dialog-content>
  <mat-card class="example-card" *ngIf="isLogin; else isRegister">
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form class="example-form" [formGroup]="loginForm">
        <mat-grid-list cols="1" rowHeight="100px">
          <mat-grid-tile>
            <mat-form-field class="example-full-width">
              <mat-label>User Name</mat-label>
              <input matInput formControlName="userName" />
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field class="example-full-width">
              <mat-label>Password</mat-label>
              <input matInput formControlName="password" />
            </mat-form-field>
          </mat-grid-tile>
        </mat-grid-list>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="onLogin()">login</button>
      <button mat-button (click)="registerView()">register</button>
    </mat-card-actions>
  </mat-card>
  <ng-template #isRegister>
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Register</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form class="example-form" [formGroup]="registerForm">
          <mat-grid-list cols="2" rowHeight="100px">
            <mat-grid-tile>
              <mat-form-field class="example-full-width">
                <mat-label>Name</mat-label>
                <input matInput formControlName="name" />
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-form-field class="example-full-width">
                <mat-label>User Name</mat-label>
                <input matInput formControlName="userName" />
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-form-field class="example-full-widthe">
                <mat-label>Last Name</mat-label>
                <input matInput formControlName="lastName" />
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-form-field class="example-full-width">
                <mat-label>Address</mat-label>
                <input matInput formControlName="address" />
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-form-field class="example-full-width">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" />
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-form-field class="example-full-width">
                <mat-label>Password</mat-label>
                <input matInput formControlName="password" />
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-form-field class="example-full-width">
                <mat-label>Password Confirmation</mat-label>
                <input matInput formControlName="password_confirmation" />
              </mat-form-field>
            </mat-grid-tile>
          </mat-grid-list>
        </form>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="onRegister()">register</button>
      </mat-card-actions>
    </mat-card>
  </ng-template>
</div>
