<div class="card">
    <div class="card-header">
      <h5 class="card-title">Add New Category</h5>
    </div>
    <div class="card-body">
      <form class="form" [formGroup]="categoryForm">
        <div class="row">
          <div class="col-12">
            <label for="name">Name</label>
            <input
              type="text"
              class="form-control form-control-sm"
              formControlName="name"
              placeholder="Name"
              [ngClass]="{ 'is-invalid': submitted && f['name'].errors }"
            />
            <div class="invalid-feedback" *ngIf="submitted && f['name'].errors">
              <div *ngIf="f['name'].errors['required']">Name is required</div>
              <div *ngIf="f['name'].errors['maxlength']">
                Name isn't max length 40
              </div>
            </div>
          </div>
          <div class="col-12">
            <button
              type="button"
              class="btn btn-success float-right mt-2 mr-2"
              (click)="addCategory()"
            >
            <i class="fas fa-save"></i>
              Save
            </button>
            <button
              class="btn btn-secondary float-right mt-2 mr-2"
              (click)="cancel()"
            >
              <i class="fas fa-close"></i>
              Cancel
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>