<header class="header shop">
  <!-- Topbar -->
  <div class="topbar">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-md-12 col-12">
        </div>
        <div class="col-lg-7 col-md-12 col-12">
          <!-- Top Right -->
          <div class="right-content">
            <ul class="list-main">
              <li *ngIf="isLogin"><i class="ti-user"></i> <a [routerLink]="['profile']">My account</a></li>
              <li>
                <i *ngIf="isLogin"  class="ti-power-off"></i><a *ngIf="isLogin" class="login-btn" (click)="logout()">Sign off</a>
                <i *ngIf="!isLogin" class="ti-power-off"></i><a *ngIf="!isLogin" class="login-btn" (click)="login()">Log In</a>
              </li>
            </ul>
          </div>
          <!-- End Top Right -->
        </div>
      </div>
    </div>
  </div>
  <!-- End Topbar -->
  <div class="middle-inner">
    <div class="container">
      <div class="row">
        <div class="col-lg-2 col-md-2 col-12">
          <!-- Logo -->
          <div class="logo">
            <a href="#"><img src="assets/images/logo.png" alt="logo" /></a>
          </div>
          <!--/ End Logo -->
          <!-- Search Form -->
          <div class="search-top">
            <div class="top-search">
              <a href="#0"><i class="ti-search"></i></a>
            </div>
          </div>
          <!--/ End Search Form -->
          <div class="mobile-nav"></div>
        </div>
        <div class="col-lg-8 col-md-7 col-12">
          <div class="search-bar-top">
            <div class="search-bar">
              <form>
                <input
                  name="search"
                  placeholder="Search For Category Product Here....."
                  type="search"
                  (keyup)="search($event)"
                />
                <button class="btnn"><i class="ti-search"></i></button>
              </form>
            </div>
          </div>
        </div>
        <div *ngIf="isLogin" class="col-lg-2 col-md-3 col-12">
          <div class="right-bar">
            <div *ngIf="ListProducts.length > 0" class="sinlge-bar shopping">
              <a href="#" class="single-icon"
                ><i class="ti-bag"></i> <span class="total-count">{{ListProducts.length}}</span></a
              >
              <!-- Shopping Item -->
              <div class="shopping-item">
                <div class="dropdown-cart-header">
                  <span>{{ListProducts.length}} Items</span>
                  <a [routerLink]="['/cart-view']" (click)="viewCart()">View Cart</a>
                </div>
                <ul class="shopping-list table-scroll">
                  <li  *ngFor="let item of ListProducts">
                    <a  (click)="DeleteItem(item.id)" class="remove" title=""><i class="fa fa-remove"></i></a>
                    <a class="cart-img" href="#"
                      ><img src={{item.imagen}} alt="#"
                    /></a>
                    <h4><a href="#">{{item.name}}</a></h4>
                    <p class="quantity">
                      1x - <span class="amount">{{item.salePrice}}</span>
           
                    </p>
                   
                  </li>
  
                </ul>
                <div class="bottom">
                  <div class="total">
                    <span>Total</span>
                    <span class="total-amount">${{suma}}</span>
                  </div>
                  <a [routerLink]="['/cart-view']" class="btn animate">Checkout</a>
                </div>
              </div>
              <!--/ End Shopping Item -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Header Inner -->
  <div class="header-inner">
    <div class="container">
      <div class="cat-nav-head">
        <div class="row">
          <div class="col-lg-3">
          </div>
          <div class="col-lg-9 col-12">
            <div class="menu-area">
              <!-- Main Menu -->
              <nav class="navbar navbar-expand-lg">
                <div class="navbar-collapse">
                  <div class="nav-inner">
                    <ul class="nav main-menu menu navbar-nav">
                      <li><a routerLinkActive="active" [routerLink]="['/']">Home</a></li>
                      <li *ngIf="isLogin"><a  routerLinkActive="active"  [routerLink]="['products']" >Products</a></li>
                      <li *ngIf="isLogin"><a  routerLinkActive="active"  [routerLink]="['categorys']" >Categories</a></li>
                    </ul>
                  </div>
                </div>
              </nav>
              <!--/ End Main Menu -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/ End Header Inner -->
</header>
<!--/ End Header -->



<!-- Start Product Area -->
<div class="product-area section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="section-title">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Product Area -->

<!-- Start Footer Area -->
<footer class="footer">
  <!-- Footer Top -->
  
  <!-- End Footer Top -->
  <div class="copyright">
    <div class="container">
      <div class="inner">
        <div class="row">
          <div class="col-lg-6 col-12">
            <div class="left">
              <p>
                Copyright © 2023
                <a href="http://www.wpthemesgrid.com" target="_blank"
                  >Wpthemesgrid</a
                >
                - All Rights Reserved.
              </p>
            </div>
          </div>
          <div class="col-lg-6 col-12">
            <div class="right">
              <img src="assets/images/payments.png" alt="#" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
