<div class="card">
  <div class="card-header">
    <h5 class="card-title">Add New Product</h5>
  </div>
  <div class="card-body">
    <form class="form" [formGroup]="productForm">
      <div class="row">
        <div class="col-6">
          <label for="name">Name</label>
          <input
            type="text"
            class="form-control form-control-sm"
            formControlName="name"
            placeholder="Name"
            [ngClass]="{ 'is-invalid': submitted && f['name'].errors }"
          />
          <div class="invalid-feedback" *ngIf="submitted && f['name'].errors">
            <div *ngIf="f['name'].errors['required']">Name is required</div>
            <div *ngIf="f['name'].errors['maxlength']">
              Name isn't max length 40
            </div>
          </div>
        </div>
        <div class="col-6">
          <label for="barcode">Barcode</label>
          <input
            type="text"
            class="form-control form-control-sm"
            formControlName="barcode"
            placeholder="Barcode"
            [ngClass]="{ 'is-invalid': submitted && f['barcode'].errors }"
          />
          <div class="invalid-feedback" *ngIf="submitted && f['barcode'].errors">
            <div *ngIf="f['barcode'].errors['required']">Barcode is required</div>
          </div>
        </div>
        <div class="col-6">
          <label for="salePrice">Sale price</label>
          <input
            type="number"
            class="form-control form-control-sm"
            formControlName="salePrice"
            placeholder="Sale price"
            [ngClass]="{ 'is-invalid': submitted && f['salePrice'].errors }"
          />
          <div class="invalid-feedback" *ngIf="submitted && f['salePrice'].errors">
            <div *ngIf="f['salePrice'].errors['required']">Sale Price is required</div>
            <div *ngIf="f['salePrice'].errors['min']">
              Sale Price min $1
            </div>
          </div>
        </div>
        <div class="col-6">
          <label for="amount">Amount</label>
          <input
            type="number"
            class="form-control form-control-sm"
            formControlName="amount"
            placeholder="Amount"
            [ngClass]="{ 'is-invalid': submitted && f['amount'].errors }"
          />
          <div class="invalid-feedback" *ngIf="submitted && f['amount'].errors">
            <div *ngIf="f['amount'].errors['required']">Amount is required</div>
            <div *ngIf="f['amount'].errors['min']">
              Amount min 1
            </div>
          </div>
        </div>
        <div class="col-6">
          <label for="status">Status</label>
          <select class="form-control form-control-sm" formControlName="status" [ngClass]="{ 'is-invalid': submitted && f['status'].errors }">
            <option value="true" selected>Select status</option>
            <option value="true">Activo</option>
            <option value="false">Inactivo</option>
          </select>
          <div class="invalid-feedback" *ngIf="submitted && f['status'].errors">
            <div *ngIf="f['status'].errors['required']">Status is required</div>
          </div>
        </div>

        <div class="col-6">
          <label for="status">Category</label>
          <select class="form-control form-control-sm" formControlName="fk_IdCategory" [ngClass]="{ 'is-invalid': submitted && f['fk_IdCategory'].errors }">
            <option selected>Select category</option>
            <option *ngFor="let category of categories" value="{{category.id}}">{{category.name}}</option>
          </select>
          <div class="invalid-feedback" *ngIf="submitted && f['fk_IdCategory'].errors">
            <div *ngIf="f['fk_IdCategory'].errors['required']">Category is required</div>
          </div>
        </div>

        <div class="col-6">
          <label for="imagen">Imagen</label>
          <input
            type="file"
            class="form-control form-control-sm"
            (change)="catchPhoto($event)"
          />
        </div>
        <div *ngIf="imgPreview !== ''" class="col-6">
          <label for="imagen">Imagen Previa</label><br />
          <img [src]="imgPreview" class="fluid-img" height="100" width="120" />
        </div>
        <div class="col-12">
          <button
            type="button"
            class="btn btn-success float-right mt-2 mr-2"
            (click)="addProduct()"
          >
          <i class="fas fa-save"></i>
            Save
          </button>
          <button
            class="btn btn-secondary float-right mt-2 mr-2"
            (click)="cancel()"
          >
            <i class="fas fa-close"></i>
            Cancel
          </button>
        </div>
      </div>
    </form>
  </div>
</div>