<section id="contact-us" class="contact-us section">
  <div class="container">
    <div class="contact-head">
      <div class="row" style="justify-content:center">
        <div class="col-lg-12 col-12">
          <div class="title">
            <h3>Profile</h3>
          </div>
        </div>
        <div class="col-lg-6 col-12">
          <div class="single-head">
            <div class="single-info text-center">
              <h4 class="title">Name:</h4>
              <ul>
                <li>{{profile.name}}</li>
              </ul>
            </div>
            <div class="single-info text-center">
              <h4 class="title">Last Name:</h4>
              <ul>
                <li>{{profile.lastName}}</li>
              </ul>
            </div>
            <div class="single-info text-center">
                <h4 class="title">User Name:</h4>
                <ul>
                  <li>{{profile.userName}}</li>
                </ul>
              </div>
            <div class="single-info text-center">
              <h4 class="title">Email:</h4>
              <ul>
                <li>
                  <a href="#">{{profile.email}}</a>
                </li>
              </ul>
            </div>
            <div class="single-info text-center">
              <h4 class="title">Address:</h4>
              <ul>
                <li>
                  {{profile.address}}
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
